/* Apply these styles to the <td> elements */
td {
    text-align: center;
    padding: 10px; 
  }
  
  
  td div {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  
  td div img {
    width: 150px; 
    height: 100%; 
  }
  
  
  td div p {
    margin: 5px 0; 
  }
  
  .padding {
    padding: 8px;
  }
  
  
  .menu-link {
    transition: background-color 0.3s, color 0.3s;
  }


  
  .table-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Ensure the table does not overflow the container */
  }
  
  .table {
    min-width: 100%; /* Ensure the table takes up the full container width */
  }
  

  
  
  
  
  
  
  
   
  
  
  
  